In [1]:
from dataset import Dataset

In [2]:
dataset = Dataset(path="data/")

In [3]:
ratings = dataset.ratings

In [4]:
ratings
# these are now individual ratings above 4,
# for a movie id that is dense and above 2 (we keep 0 and 1 for padding and masking)
# and ordered by timestamp (grouped by users)

                                            dense_movie_id
user_id
1        [2839, 906, 1115, 1492, 1572, 3029, 2478, 1054...
2        [1045, 1057, 1138, 2611, 1072, 301, 1041, 2528...
3        [2528, 1697, 1690, 1111, 1213, 1212, 3269, 563...
4        [972, 457, 3084, 1045, 1219, 247, 1756, 1048, ...
5        [809, 798, 1095, 2528, 2661, 2444, 2577, 2055,...
...                                                    ...
6036     [1492, 1614, 2528, 2661, 2385, 213, 968, 2852,...
6037     [1756, 1112, 760, 2804, 538, 1068, 802, 813, 1...
6038     [1057, 1872, 338, 954, 3160, 1005, 2746, 221, ...
6039     [108, 269, 1793, 820, 2684, 2746, 2478, 845, 1...
6040     [760, 2084, 565, 1690, 1747, 204, 549, 3118, 2...

[6034 rows x 1 columns]