In [1]:
from data_preprocessing import DataPreprocessing

In [2]:
data_preprocessor = DataPreprocessing(path="data/")

In [3]:
ratings = data_preprocessor.ratings

In [4]:
ratings
# these are now individual user-ratings above 4,
# for a movie id that is dense and above 2 (we keep 0 and 1 for padding and masking)
# and ordered by timestamp (grouped by users)
# users with less than 5 interactions have been removed too.

      user_id                                     dense_movie_id
0           1  [2839, 906, 1115, 1492, 1572, 3029, 2478, 1054...
1           2  [1045, 1057, 1138, 2611, 1072, 301, 1041, 2528...
2           3  [2528, 1697, 1690, 1111, 1213, 1212, 3269, 563...
3           4  [972, 457, 3084, 1045, 1219, 247, 1756, 1048, ...
4           5  [809, 798, 1095, 2528, 2661, 2444, 2577, 2055,...
...       ...                                                ...
6029     6036  [1492, 1614, 2528, 2661, 2385, 213, 968, 2852,...
6030     6037  [1756, 1112, 760, 2804, 538, 1068, 802, 813, 1...
6031     6038  [1057, 1872, 338, 954, 3160, 1005, 2746, 221, ...
6032     6039  [108, 269, 1793, 820, 2684, 2746, 2478, 845, 1...
6033     6040  [760, 2084, 565, 1690, 1747, 204, 549, 3118, 2...

[6034 rows x 2 columns]

In [5]:
from data_processing import DataProcessing

dataprocessing = DataProcessing()

In [6]:
print(f"""
Count of training items: {len(dataprocessing.train_df)}
Count of validation items: {len(dataprocessing.val_df)}
Count of testing items: {len(dataprocessing.test_df)}
(train) Length is padded to: {len(max(dataprocessing.train_df["input_seq"], key=lambda x: len(x)))}
(val) Length is padded to: {len(max(dataprocessing.val_df["input_seq"], key=lambda x: len(x)))}
(test) Length is padded to: {len(max(dataprocessing.test_df["input_seq"], key=lambda x: len(x)))}
first train sequence: {dataprocessing.train_df["input_seq"][0]} for user {dataprocessing.train_df["user_id"][0]}
first val sequence: {dataprocessing.val_df["input_seq"][0]} for user {dataprocessing.val_df["user_id"][0]}
first test sequence: {dataprocessing.test_df["input_seq"][0]} for user {dataprocessing.test_df["user_id"][0]}
full sequence: {ratings["dense_movie_id"][0]}
    (so {0.15 * len(eval(ratings["dense_movie_id"][0]))} extra items are in validation split, which is rounded up)
""")

Count of training items: 6034
Count of validation items: 6034
Count of testing items: 6034
(train) Length is padded to: 20
(val) Length is padded to: 20
(test) Length is padded to: 20
first train sequence: [577, 2369, 1690, 1756, 2763, 828, 919, 1691, 912, 141, 1746, 972, 1132, 2471, 2436, 1091, 2586, 508, 2772, 2465] for user 1
first val sequence: [1691, 912, 141, 1746, 972, 1132, 2471, 2436, 1091, 2586, 508, 2772, 2465, 913, 566, 2098, 1347, 504, 2, 561] for user 1
first test sequence: [2436, 1091, 2586, 508, 2772, 2465, 913, 566, 2098, 1347, 504, 2, 561, 567, 706, 2055, 1998, 1637, 1363, 49] for user 1
full sequence: [2839, 906, 1115, 1492, 1572, 3029, 2478, 1054, 1041, 247, 809, 577, 2369, 1690, 1756, 2763, 828, 919, 1691, 912, 141, 1746, 972, 1132, 2471, 2436, 1091, 2586, 508, 2772, 2465, 913, 566, 2098, 1347, 504, 2, 561, 567, 706, 2055, 1998, 1637, 1363, 49]
    (so 6.75 extra items are in validation split, which is rounded up)

In [9]:
train_loader, val_loader, test_loader = dataprocessing.get_dataloaders(batch_size=1)

In [10]:
for batch in train_loader:
    print(batch)
    break

{'user_id': tensor([5983]), 'input_ids': tensor([[   0,    0,    0,    0, 1697,  107, 1207, 2981, 1043,  972, 3087,    1,
         1085, 1115,    1, 1208, 1047,  457, 1866, 1046]]), 'attention_mask': tensor([[0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]]), 'labels': tensor([[-100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100,  814,
         -100, -100, 2225, -100, -100, -100, -100, -100]])}